Source: opennetadmin-plugin-build-isc-dhcp
Section: unknown
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/opennetadmin-plugin-build-isc-dhcp.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/opennetadmin-plugin-build-isc-dhcp.git

Package: opennetadmin-plugin-build-isc-dhcp
Architecture: all
Depends: ${misc:Depends}, opennetadmin, ruby-opennetadmin
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
